
<tr>
    <th><%= link_to group.name, group%></th>   
    <th><%=link_to '', {controller: :friendships, action: :index}, class:"fas fa-user-plus text text-success"%></th>
    <th><%= link_to '', group, method: :delete, data: { confirm: 'Are you sure?' },class: "fas fa-times text text-danger"%></th> 
</tr>

<%# <td><%= link_to 'Edit', edit_group_path(group) %></td> 
