<p id="notice"><%= notice %></p>

<h1>Friendships</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.followers.each do |friendship| %>
      <tr>
        <td><%= current_user.name  %></td>
        <td><%= friendship.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friendship', new_friendship_path %>
