<h1 class="text-center login_h2">New Friendship</h1>

<%= render 'form', friendship: @friendship %>
<center>
<%= link_to 'Back', friendships_path ,:class => "btn btn-light m-1 text-info" %>
</center>
