
<h1 class="text-center login_h2 m-5">Friends Show</h1>

<table class="table">
  <thead>
    <tr>
      <th class="text-info">User</th>
      <th class="text-info">Friend</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_user.name%></td>
        <td><%= @friendship.follower.name %></td>
  </tbody>
</table>
<%= link_to 'Edit', edit_friendship_path(@friendship),:class => "btn btn-primary"  %> 
<%= link_to 'Back', friendships_path ,:class => "btn btn-info" %>