<!DOCTYPE html>
  <html lang="en">
  <body>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel"> invited friends</h4>
</div>
<div class="modal-body"> 
<% @invited_users.each do |invited_users| %>
<%= @user_id = invited_users.follower_id %>
<h4 style="color:navy; "><%= User.find(id = @user_id ).name %></h4>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">close</button>
</div>
</body>
</html>

