
@import 'bootstrap';
@import 'bootstrap-social';

.new_user {
  max-width: 330px;
  padding: 2em 1em;
  margin: 0 auto;
}
.edit_user {
  max-width: 330px;
  padding: 2em 1em;
  margin: 0 auto;
}
.form-login{

    margin: 20px auto;
    padding: 10px;
    border-radius: 15px 50px;
    background: rgba(6, 6, 6, 0.69);
    width: 30%;
    font-weight: bold;

}
.login_h2{
  text-shadow: 3px 1px 1px #7d7d7d;
  color: #537da2;
  font-size: 41px;
}
hr {
  background: #17a2b8;
  width: 28%;
  height: 5px !important;
  border-radius: 12px;
  margin-top: 50px;
}
